body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

.custom-bullets {
  .slide-pagination {
    bottom: 20px !important;
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #D8D8D8;
      opacity: 1;
      transition: all 0.25s ease-in-out;
      &.swiper-pagination-bullet-active {
        background: #5C3CAF;
        border-radius: 100%;
      }
    }
  }
}
